html {
    scroll-behavior: smooth;
}

#header {
    width: fit-content;
    margin: 90px auto 0 auto;
}

#headerbtn {
    margin: 5px;
    font-size: 20px;
}

#headerbtn button {
    border-radius: 25px;
    padding-top: 10px;
    height: 100%;
    margin-top: -1px;
}

#searchBar {
    background-color: var(--primary);
    width: 60vw;
    height: 55px;
    margin: 0 0 0 0;
    border-radius: 27.5px;
    padding: 12.5px 15px;
    color: white;
}

#search {
    display: inline;
    background: inherit;
    border: none;
    outline: none;
    color: white;
    width: 90%;
}

#search::placeholder {
    color: white;
    opacity: 0.7;
}

h3 {
    color: white;
}

#internshipsList {
    background-color: var(--primary);
    min-height: 300px;
    margin: 15px;
    border-radius: 15px;
    padding: 25px;
}

#internshipinner {
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
}

#internshipModal {
    background-color: var(--primary);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
}

hr {
    border: 1px solid white;
}

#postInternship {
    background-color: var(--primary);
    min-height: 250px;
    margin: 15px;
    border-radius: 15px;
}

#postInternship #inner {
    color: white;
    padding: 20px;
}

#postInternship h2 {
    text-align: center;
    color: white;
    padding-top: 15px;
}

#postInternshipForm #inner {
    padding: 30px 60px;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.212);
}

#postedInternships #inner {
    padding: 30px 60px;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.212);
}

#postedInternshipDetail {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 20px;
}

#viewApplicationListTile {
    color: white;
    text-align: center;
    background-color: var(--primary);
    border-radius: 25px;
    padding: 20px;
}